<!DOCTYPE html>
<html>
<head>
  <title>Calculating Revenue</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Determining Shopify Revenue</h1>
<p>Revenue: <%= revenue%></p>
<p>Taxes: <%= taxes%></p>
<p>Discounts: <%= discounts%></p>

</body>
</html>
